
body,html{background-color:rgba(255,255,255,.5);font:14px/1.5 "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;color:#515250;-webkit-font-smoothing:antialiased;-webkit-backface-visibility:hidden;overflow-x:hidden}
/*.gird-header{width:100%;min-height:60px;position:fixed;background-color:rgba(255,255,255,1);z-index:11002;top:0;left:0;border-bottom:1px solid #e8e9e7;font-size:14px}*/
.container-fixed,.footer-fixed,.header-fixed{width:1280px;margin-left:auto;margin-right:auto;position:relative}
